.Phonetic .audio-link {
  font-size: 40px;
  color: #534857;
  transition: all 110ms ease-in-out;
  border: none;
  background-color: #dacfcf;
}

.Phonetic .audio-link:hover {
  color: #8a624a;
}

.Phonetic .text {
  font-size: 28px;
  color: #1f383f;
}
