.Phonetic .audio-link {
  font-size: 45px;
  color: rgb(0, 98, 128);
  transition: all 100ms ease-in-out;
}

.Phonetic .audio-link:hover {
  color: rgb(8, 178, 230);
}

.Phonetic .text {
  font-size: 32px;
  color: rgb(8, 53, 66);
}
