.Phonetic .audio-link {
  font-size: 40px;
  color: rgb(83, 72, 87);
  transition: all 110ms ease-in-out;
}

.Phonetic .audio-link:hover {
  color: #8a624a;
}

.Phonetic .text {
  font-size: 30px;
  color: rgb(8, 53, 66);
}
